@font-face{
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff");
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body{
	font-family: Verdana, Geneva, Ariak, sans-serif;
	font-weight: small;
}
h1{
	font-family: "Emblema One", sans-serif; 
	font-size: 220%;
}
h2{
	font-size: 130%;
	font-weight: normal;
}
blockquote{
	font-style: italic;
}